/*Heading*/
.head_div{
    position: fixed;
    top:0px;
    right:0px;
    width: 100%;
    height: 70px;
    background-color: #62BCFB;
    display: flex;
    vertical-align: top;
    z-index:99;
}
.head_title{
    width: 700px;
    height: 55px;
    align-content: center;
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    color: aliceblue;
    padding-top: 0px;
    margin-left: 20px;
    vertical-align: middle;
}
.logo{
	height:inherit;
	width:300px;
	margin:5px 0px 5px 60px;
}
.right_div{
    
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    float: right;
    position: absolute;
    right: 10px;
    align-content: center;
    vertical-align: middle;
}
.right_div ul{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.right_div ul li{
    vertical-align: middle; 
    display: inline-block;
}
.right_div ul li{
    margin-left: 10px;
}
.right_div a{
    text-decoration: none;
    color: black;
}
.right_div ul li a:hover{
    color: white;
}
/*End of Heading*/


/*Side Menu*/
.side_menu{
    width: 200px;
    height: 100%;
    margin-top: 10px;
    margin-right: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 18;
    float:left;
    display:none;
    position: fixed;
    top:10px;
    background-color: #62BCFB;    
    color: black;
    /*overflow:hidden;*/
}
.side_menu ul li:first-child
{
    font-size:3rem; 
}
.side_menu ul{
    margin-top: 0;
    height: 110%;
    color: black;
    padding-left: 10%;
    list-style-type: none;
}
.side_menu a{
    color: black;
    text-decoration: none;
}
.side_menu a:hover{
    color: #E86E3C;
    text-decoration: underline;
}
/*End of Side Menu*/

/*Toggler*/
#toggler{
    position:fixed;
    display:block;
    z-index: 101;
}

#togglerr{
    display:none;
}
#tgl{
    z-index: 1;
    position: absolute;
    left:25px;
    font-size: 50px;
    top: 5px;
}

#togglerr:checked + #toggler{
    left:17%;
}
 
#togglerr:checked ~ .head_div .head_title{
    width:80%;
    margin-left:17%;
}
#togglerr:checked ~ .side_menu{
    display:block;
    width: 17%;
    height: 100%;
    margin-top: 10px;
    margin-right: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 18;
    float:left;
    position: fixed;
    top:10px;
    background-color: #62BCFB;    
    color: black;
    z-index: 100;
}
#togglerr:checked ~ #page_content {
    width: 80%;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    float:right;
    position: absolute;
    right: -10px;
}
/*End of Toggler*/

#page_content{
    width:100%;
    z-index: 11;
    background-color: rgba(255,255,255,1);
    position: absolute;
    right: 0px;
}
.outer{
    z-index: 11;
    height:auto;
    width:100%;
}
.inner{
    z-index: 11;
    height: 2000px;
    background-color: red;
    width:90%;    
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    margin:0 auto;
    position:relative;
    top:100px;
}

body{
    margin:0px;
}

